*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    width: 100%;
    height: 50px;
    position: relative;
    padding: 20px 100px;
    z-index: 999999;
}
.header ul{
    display: flex;
    gap: 50px;
}
.header ul li{
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    padding: 10px 20px;
    transition: .5s;
}
.header ul li a:hover{
    background-color: rgba(172, 255, 47, 0.715);
    color: black;
    border-radius: 5px;
}
.slider{
    width: 100%;
    height: 100vh;
    margin-top: -50px;
    position: relative;
}
.content{
    width: 100%;height: 100%;
    position: absolute;
    background: url(/img1.jpg) center/cover no-repeat;
    /* z-index: -1; */
    padding: 0px 0px 0px 100px;
    transition: .5s;
}
.text-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;  
    color: white;  
}
.text-content h1{
    text-transform: uppercase;
    font-size: 70px;
    text-shadow: 0px 0px 10px black;
}
.text-content span{
    color: rgb(0, 254, 0);
}
.text-content span:hover{
    color: rgba(255, 255, 255, 0.71);
}
.text-content p{
    line-height: 2;
}
.text-content.move h1{
    animation: texth1 .5s linear;
}
.text-content.move p{
    animation: textp .5s linear;
}
.text-content.move .btn{
    animation: button .5s linear;
}
@keyframes texth1 {
    from{
       transform: translateY(50px);
    }
}
@keyframes textp {
    from{
       transform: translateY(100px);
    }
}
@keyframes button {
    from{
       transform: translateY(150px);
    }
}
.text-content .btn{
    background-color: rgba(255, 255, 255, 0.548);
    margin-top: 20px;
    border: none;
    padding:10px 25px;
    font-size: 16px;
    letter-spacing: 6px;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 0px 0px 10px black;
    transition: .5s;
}
.text-content .btn:hover{
    background-color: rgba(172, 255, 47, 0.723);
    color: white;
    font-weight: bold;
}
.content:nth-child(2){
    background-image: url(/2.jpg);
}
.content:nth-child(3){
    background-image: url(/3.jpg);
}
.content:nth-child(4){
    background-image: url(/4.jpg);
}
.thumb{
    position: absolute;
    display: flex;
    width: 550px;height: 150px;
    gap: 20px;
    bottom: 50px;
    right: 70px;
    transition: .5s;
}
.box-img{
    width: 25%;
}
.box-img:hover{
    box-shadow: 0px 0px 10px white;
}
.box-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 0px 10px black;
}
.btn-prev-next{
    position: absolute;
    bottom: 100px;
    left: 30%;
}
.prev,.next{
    padding:13px 16px;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgb(14, 135, 18);
    color: white;
    font-weight: bolder;
    transition: .5s;
}
.prev:hover,.next:hover{
    background-color: rgba(172, 255, 47, 0.681);
}
.shadow{
    box-shadow: 0px 0px 20px white;
    transition: .5s;
}